

.spacer{
    margin-top: 20px;
}

.oui
{ background-color:#009fe3;}
.bon
{
    border-radius: 3px;
}
.submit
{
    border-radius: 3px;
    background-color: rgb();
    margin-left: 40%;
}

.panel-headin{
    background-color:#00A190;
    text-align: center;
    height: 40px;

}